{{outlet}}
<h1>Unit 2 Employee Statistics</h1>

<table>
    <tr>
        <th>Category</th>
        <th>Data</th>
    </tr>

      <tr>
          <td>Gender</td>
          <td>Male:{{male}}&emsp;Female:{{female}}</td>
      </tr>
  <tr>
    <td>Degree</td>
    <td>{{degreeData}}</td>
  </tr>
  <tr>
    <td>Country</td>
    <td>{{countryData}}</td>
  </tr>
  <tr>
    <td>Immigration</td>
    <td>{{immData}}</td>
  </tr>
  <tr>
    <td>FCA Org</td>
    <td>{{orgData}}</td>
  </tr>
  <tr>
    <td>FCA SR</td>
    <td>{{srData}}</td>
  </tr>
  <tr>
    <td>FCA Contact</td>
    <td>{{contactData}}</td>
  </tr>
  <tr>
    <td>Work Type</td>
    <td>{{wtData}}</td>
  </tr>
</table>
